<% @title ||= 'HIT details'; title @title %>
<% if params[:come_from].present? %>
  <% if params[:come_from] == 'mturk_reviewable_hits' %>
    <%= go_back_btn mturk_reviewable_hits_path %>
  <% end %>
<% else %>
  <%= go_back_btn mturk_cached_hits_path %>
<% end %>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <h2>HIT details</h2>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <table class="table vertical-align">
      <col width="100px"/>
      <col />
      <% @mturk_cached_hit.attributes.each do |key, val| %>
        <%= table_row(key, truncate(val.to_s, length: 1000)) %>
      <% end %>
    </table>
  </div>
</div>
