---
http_interactions:
- request:
    method: get
    uri: https://d4e60a0d5891432e9a4ff86bc4a3a73a.eu-central-1.aws.cloud.es.io/_cluster/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey bzc1Ql8zOEJtS3RLdGZsZmpNZGw6YjFuTjJLUzFReUtnY001cFhiUTB6Zw==
      X-Elastic-Client-Meta:
      - es=7.17.1,rb=2.5.8,t=7.17.1,fd=1.10.0,nh=1.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Request-Id:
      - 1EHVQX7nQs6hnueJzNvgVg
      X-Elastic-Product:
      - Elasticsearch
      X-Found-Handling-Cluster:
      - d4e60a0d5891432e9a4ff86bc4a3a73a
      X-Found-Handling-Instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"cluster_name":"d4e60a0d5891432e9a4ff86bc4a3a73a","status":"green","timed_out":false,"number_of_nodes":3,"number_of_data_nodes":2,"active_primary_shards":118,"active_shards":236,"relocating_shards":0,"initializing_shards":0,"unassigned_shards":0,"delayed_unassigned_shards":0,"number_of_pending_tasks":0,"number_of_in_flight_fetch":0,"task_max_waiting_in_queue_millis":0,"active_shards_percent_as_number":100.0}'
  recorded_at: Fri, 24 Jun 2022 13:56:43 GMT
recorded_with: VCR 6.0.0
