---
http_interactions:
- request:
    method: get
    uri: https://search-crowdbreaks-stg-r7ijs3a6awevjffrehacjkygn4.eu-central-1.es.amazonaws.com/_cluster/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20210601T135244Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIA4XNVFOJVGS4AHXED/20210601/eu-central-1/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=3873df98ec5eb456b2184a3eecf34df4d05c9d3ae997e01d6c9ee973d479ac4e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"cluster_name":"874942657130:crowdbreaks-stg","status":"green","timed_out":false,"number_of_nodes":2,"number_of_data_nodes":2,"discovered_master":true,"active_primary_shards":136,"active_shards":272,"relocating_shards":0,"initializing_shards":0,"unassigned_shards":0,"delayed_unassigned_shards":0,"number_of_pending_tasks":0,"number_of_in_flight_fetch":0,"task_max_waiting_in_queue_millis":0,"active_shards_percent_as_number":100.0}'
  recorded_at: Tue, 01 Jun 2021 13:52:45 GMT
recorded_with: VCR 6.0.0
