---
http_interactions:
- request:
    method: get
    uri: https://search-crowdbreaks-stg-r7ijs3a6awevjffrehacjkygn4.eu-central-1.es.amazonaws.com/_stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20210601T135245Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIA4XNVFOJVGS4AHXED/20210601/eu-central-1/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=520947bb7be97402af9f975d6fc3f4b90982e9d3dfbe9b141ad44f8e9080ae64
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_shards":{"total":272,"successful":272,"failed":0},"_all":{"primaries":{"docs":{"count":2314358,"deleted":9},"store":{"size_in_bytes":1520660338,"reserved_in_bytes":0},"indexing":{"index_total":63,"index_time_in_millis":708,"index_current":0,"index_failed":0,"delete_total":0,"delete_time_in_millis":0,"delete_current":0,"noop_update_total":0,"is_throttled":false,"throttle_time_in_millis":0},"get":{"total":226,"time_in_millis":395,"exists_total":223,"exists_time_in_millis":395,"missing_total":3,"missing_time_in_millis":0,"current":0},"search":{"open_contexts":0,"query_total":141,"query_time_in_millis":17783,"query_current":0,"fetch_total":91,"fetch_time_in_millis":3913,"fetch_current":0,"scroll_total":0,"scroll_time_in_millis":0,"scroll_current":0,"suggest_total":0,"suggest_time_in_millis":0,"suggest_current":0},"merges":{"current":0,"current_docs":0,"current_size_in_bytes":0,"total":2,"total_time_in_millis":150,"total_docs":164,"total_size_in_bytes":122630,"total_stopped_time_in_millis":0,"total_throttled_time_in_millis":0,"total_auto_throttle_in_bytes":2852126720},"refresh":{"total":2849,"total_time_in_millis":704,"external_total":332,"external_total_time_in_millis":980,"listeners":0},"flush":{"total":151,"periodic":0,"total_time_in_millis":264},"warmer":{"current":0,"total":192,"total_time_in_millis":258},"query_cache":{"memory_size_in_bytes":0,"total_count":399,"hit_count":0,"miss_count":399,"cache_size":0,"cache_count":0,"evictions":0},"fielddata":{"memory_size_in_bytes":0,"evictions":0},"completion":{"size_in_bytes":0},"segments":{"count":329,"memory_in_bytes":2292420,"terms_memory_in_bytes":1768480,"stored_fields_memory_in_bytes":171352,"term_vectors_memory_in_bytes":0,"norms_memory_in_bytes":119296,"points_memory_in_bytes":0,"doc_values_memory_in_bytes":233292,"index_writer_memory_in_bytes":0,"version_map_memory_in_bytes":0,"fixed_bit_set_memory_in_bytes":152,"max_unsafe_auto_id_timestamp":-1,"file_sizes":{}},"translog":{"operations":0,"size_in_bytes":7480,"uncommitted_operations":0,"uncommitted_size_in_bytes":7480,"earliest_last_modified_age":0},"request_cache":{"memory_size_in_bytes":22726,"evictions":0,"hit_count":0,"miss_count":22},"recovery":{"current_as_source":0,"current_as_target":0,"throttle_time_in_millis":0}},"total":{"docs":{"count":4628716,"deleted":18},"store":{"size_in_bytes":3037774284,"reserved_in_bytes":0},"indexing":{"index_total":63,"index_time_in_millis":708,"index_current":0,"index_failed":0,"delete_total":0,"delete_time_in_millis":0,"delete_current":0,"noop_update_total":0,"is_throttled":false,"throttle_time_in_millis":0},"get":{"total":246,"time_in_millis":471,"exists_total":243,"exists_time_in_millis":471,"missing_total":3,"missing_time_in_millis":0,"curr[...]
