---
http_interactions:
- request:
    method: get
    uri: https://d4e60a0d5891432e9a4ff86bc4a3a73a.eu-central-1.aws.cloud.es.io/_stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ApiKey bzc1Ql8zOEJtS3RLdGZsZmpNZGw6YjFuTjJLUzFReUtnY001cFhiUTB6Zw==
      X-Elastic-Client-Meta:
      - es=7.17.1,rb=2.5.8,t=7.17.1,fd=1.10.0,nh=1.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Request-Id:
      - PBm2Q7GXQEKRKVaY8QUVwA
      X-Elastic-Product:
      - Elasticsearch
      X-Found-Handling-Cluster:
      - d4e60a0d5891432e9a4ff86bc4a3a73a
      X-Found-Handling-Instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"_shards":{"total":94,"successful":94,"failed":0},"_all":{"primaries":{"docs":{"count":8955865,"deleted":1647},"shard_stats":{"total_count":47},"store":{"size_in_bytes":4602387935,"total_data_set_size_in_bytes":4602387935,"reserved_in_bytes":0},"indexing":{"index_total":15208070,"index_time_in_millis":5252402,"index_current":0,"index_failed":5076,"delete_total":1301,"delete_time_in_millis":149,"delete_current":0,"noop_update_total":0,"is_throttled":false,"throttle_time_in_millis":0},"get":{"total":4624176,"time_in_millis":424468,"exists_total":4565589,"exists_time_in_millis":421051,"missing_total":58587,"missing_time_in_millis":3417,"current":0},"search":{"open_contexts":0,"query_total":9597576,"query_time_in_millis":6527250,"query_current":0,"fetch_total":9570378,"fetch_time_in_millis":373296,"fetch_current":0,"scroll_total":4494452,"scroll_time_in_millis":77837442,"scroll_current":0,"suggest_total":0,"suggest_time_in_millis":0,"suggest_current":0},"merges":{"current":0,"current_docs":0,"current_size_in_bytes":0,"total":350591,"total_time_in_millis":6247611,"total_docs":169363455,"total_size_in_bytes":75675197334,"total_stopped_time_in_millis":0,"total_throttled_time_in_millis":1389449,"total_auto_throttle_in_bytes":969932800},"refresh":{"total":3346047,"total_time_in_millis":28488402,"external_total":3336417,"external_total_time_in_millis":31177380,"listeners":0},"flush":{"total":2649,"periodic":2,"total_time_in_millis":17619},"warmer":{"current":0,"total":3328240,"total_time_in_millis":570601},"query_cache":{"memory_size_in_bytes":1336,"total_count":3858,"hit_count":517,"miss_count":3341,"cache_size":9,"cache_count":284,"evictions":275},"fielddata":{"memory_size_in_bytes":0,"evictions":0},"completion":{"size_in_bytes":0},"segments":{"count":66,"memory_in_bytes":315024,"terms_memory_in_bytes":233672,"stored_fields_memory_in_bytes":38672,"term_vectors_memory_in_bytes":0,"norms_memory_in_bytes":11328,"points_memory_in_bytes":0,"doc_values_memory_in_bytes":31352,"index_writer_memory_in_bytes":0,"version_map_memory_in_bytes":0,"fixed_bit_set_memory_in_bytes":1176,"max_unsafe_auto_id_timestamp":1648930409796,"file_sizes":{}},"translog":{"operations":5239,"size_in_bytes":3737917,"uncommitted_operations":5239,"uncommitted_size_in_bytes":3737917,"earliest_last_modified_age":156},"request_cache":{"memory_size_in_bytes":198504,"evictions":0,"hit_count":41745,"miss_count":3044},"recovery":{"current_as_source":0,"current_as_target":0,"throttle_time_in_millis":518}},"total":{"docs":{"count":17911730,"deleted":605969},"shard_stats":{"total_count":94},"store":{"size_in_bytes":9419227774,"total_data_set_size_in_bytes":9419227774,"reserved_in_bytes":0},"indexing":{"index_total":29609001,"index_time_in_millis":9364634,"index_current":0,"index_failed":5076,"delete_total":2550,"delete_time_in_millis":282,"delete_current":0,"noop_update_total":0,"is_throttled":false,"throttle_time_in_millis":0},"get":{"total":5061283,"time_in_milli[...]
