<% @title ||= 'HIT details'; title @title %>

<div class="row mb-5">
  <div class="col-12">
    <% if params[:come_from].present? %>
      <%= link_to mturk_batch_job_tasks_path(params[:come_from]), class: 'btn btn-secondary btn-lg' do %>
        Go back
      <% end %>
    <% else %>
      <%= link_to mturk_hits_path, class: 'btn btn-secondary btn-lg' do %>
        Go back
      <% end %>
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <h2>HIT details</h2>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <table class="table vertical-align">
      <col width="200px"/>
      <col />

      <% @hit.to_h.each do |key, val| %>
        <tr>
          <td><h4><%= key %></h4></td>
          <td><%= val %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
