<span>
  <%= f.button answer.answer,
    id: "answer_#{answer.id}",
    class: 'btn',
    type: 'submit', 
    name: 'result[answer_id]',
    value: answer.id,
    data: {'color': answer.color} %>
</span>
