<div class="row mturk">
  <div class="col-xs-12">
    <h3>Instructions for Amazon Turk workers (please read carefully):</h3>
    <ol>
      <li> Please read the message of the tweet (without clicking any links) </li>
      <li> Please answer the question below to get to the next question (you cannot skip it) </li>
    </ol>
    <p> <b>NOTE:</b>Do not refresh the page (otherwise your progress will be lost)</p>
    <p>Number of questions answered so far: <%= question_counter %></p>
    <%= hidden_field_tag 'question_counter', question_counter %>
  </div>
</div>
