<div class="row mturk">
  <div class="col-xs-12">
    <p>You have successfully completed the task!</p>
    <p><b>Please return to Amazon Turk and enter the following code into the input field:</b></p>
    <h3><%= key %></h3>
    <p>You have successfully completed <%= question_counter %> questions</p>
  </div>
</div>
