---
http_interactions:
- request:
    method: post
    uri: https://d4e60a0d5891432e9a4ff86bc4a3a73a.eu-central-1.aws.cloud.es.io/project_vaccine_sentiment_2022-04-02_20-35-22/_search?size=5
    body:
      encoding: UTF-8
      string: '{"query":{"function_score":{"boost_mode":"replace","functions":[{"random_score":{}}],"query":{"bool":{"must":[{"range":{"created_at":{"gte":"2022-06-17T14:47:29.000Z","lte":"2022-06-24T14:47:29.000Z"}}}],"must_not":[{"exists":{"field":"is_retweet"}},{"exists":{"field":"has_quote"}},{"exists":{"field":"annotations"}}]}}}}}'
    headers:
      Authorization:
      - ApiKey bzc1Ql8zOEJtS3RLdGZsZmpNZGw6YjFuTjJLUzFReUtnY001cFhiUTB6Zw==
      X-Elastic-Client-Meta:
      - es=7.17.1,rb=2.5.8,t=7.17.1,fd=1.10.0,nh=1.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Request-Id:
      - naFsETL4QCmqaAJI2rTkyg
      X-Elastic-Product:
      - Elasticsearch
      X-Found-Handling-Cluster:
      - d4e60a0d5891432e9a4ff86bc4a3a73a
      X-Found-Handling-Instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"took":981,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":10000,"relation":"gte"},"max_score":0.99999815,"hits":[{"_index":"project_vaccine_sentiment_2022-04-02_20-35-22","_type":"_doc","_id":"1538651402427318272","_score":0.99999815,"_source":{"created_at":
        "2022-06-19T22:34:15.000Z", "text": "Covid Vaccine for young children? https://t.co/uZLZGjxDqY",
        "user": {"id": "2535213616", "name": "Eunice C. Riemer", "screen_name": "riemer_eunice",
        "description": "Certified Registered Nurse Anesthetist (CRNA) - Retired; MBA
        Aurora University; Lt Col - Retired USAFR"}, "lang": "en", "project": "vaccine_sentiment",
        "matching_keywords": ["vaccine"]}},{"_index":"project_vaccine_sentiment_2022-04-02_20-35-22","_type":"_doc","_id":"1539704876782866439","_score":0.99999326,"_source":{"created_at":
        "2022-06-22T20:20:23.000Z", "text": "@SethPlaut @Breaking911 Define vaccine
        lol(is it just me, or have we collectively lost our handle on what a \u201cvaccine\u201d
        is supposed to do....)", "in_reply_to_user_id": "514560443", "user": {"id":
        "1271852553383243776", "name": "\ud83c\uddfa\ud83c\uddf8TheConservative\ud83c\uddfa\ud83c\uddf8",
        "screen_name": "Conserv1023", "description": "Search for the truth, not the
        truth you wish to find."}, "lang": "en", "project": "vaccine_sentiment", "matching_keywords":
        ["vaccine"]}},{"_index":"project_vaccine_sentiment_2022-04-02_20-35-22","_type":"_doc","_id":"1538514406455353346","_score":0.99999297,"_source":{"created_at":
        "2022-06-19T13:29:53.000Z", "text": "No more mandates on the Hill, as Senate
        ends COVID-19 vaccine requirement https://t.co/ovqIuNFnmz", "user": {"id":
        "765296237331357696", "name": "brian o", "screen_name": "proudCanadavet",
        "location": "Canada ", "description": "I am a Proud Canadian Veteran.#BidenHarrisCanadian
        for Democrats#Resistersvoting rights#blue 2022#CanadaStandsWithUkraine"},
        "geo_info": {"location_type": "country", "country_code": "CA", "geo_type":
        "user.location", "coordinates": {"lat": 60.10867, "lon": -113.64258000000001}},
        "lang": "en", "project": "vaccine_sentiment", "matching_keywords": ["vaccine"]}},{"_index":"project_vaccine_sentiment_2022-04-02_20-35-22","_type":"_doc","_id":"1539661539770126338","_score":0.9999891,"_source":{"created_at":
        "2022-06-22T17:28:11.000Z", "text": "@thecamizzx @EwwCman @fullerwx @SnotopherBoyson
        Vaccine? A Vaccine that doesn\u2019t stop you from getting Covid? They said
        it would. A Vaccine that doesn\u2019t stop you from sprea[...]
