---
http_interactions:
- request:
    method: post
    uri: https://d4e60a0d5891432e9a4ff86bc4a3a73a.eu-central-1.aws.cloud.es.io/project_inexistent/_search?size=5
    body:
      encoding: UTF-8
      string: '{"query":{"function_score":{"boost_mode":"replace","functions":[{"random_score":{}}],"query":{"bool":{"must":[{"range":{"created_at":{"gte":"2022-06-17T14:47:31.000Z","lte":"2022-06-24T14:47:31.000Z"}}}],"must_not":[{"exists":{"field":"is_retweet"}},{"exists":{"field":"has_quote"}},{"exists":{"field":"annotations"}}]}}}}}'
    headers:
      Authorization:
      - ApiKey bzc1Ql8zOEJtS3RLdGZsZmpNZGw6YjFuTjJLUzFReUtnY001cFhiUTB6Zw==
      X-Elastic-Client-Meta:
      - es=7.17.1,rb=2.5.8,t=7.17.1,fd=1.10.0,nh=1.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Request-Id:
      - wJioPzI-QSKHdQJGIN84GA
      X-Elastic-Product:
      - Elasticsearch
      X-Found-Handling-Cluster:
      - d4e60a0d5891432e9a4ff86bc4a3a73a
      X-Found-Handling-Instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Fri, 24 Jun 2022 14:47:31 GMT
recorded_with: VCR 6.0.0
