---
http_interactions:
- request:
    method: get
    uri: https://search-crowdbreaks-stg-r7ijs3a6awevjffrehacjkygn4.eu-central-1.es.amazonaws.com/project_inexistent/_search?_source=text,annotations&from=0&size=5
    body:
      encoding: UTF-8
      string: '{"query":{"function_score":{"script_score":{"script":{"source":"if
        (_score \u003e params[''_source''][''predictions''][''primary'']) { _score
        } else { 0 }"}},"query":{"bool":{"must_not":[{"exists":{"field":"annotations"}},{"match":{"is_retweet":true}},{"match":{"has_quote":true}}],"must":[{"range":{"created_at":{"gte":"2021-05-17T17:36:44.000Z"}}},{"exists":{"field":"predictions"}}]}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20210531T173644Z
      X-Amz-Content-Sha256:
      - 05f5f2c3c38bdaa8157bb5398932d64a19d9a950c55afcac730843e7aa5e6c3f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIA4XNVFOJVGS4AHXED/20210531/eu-central-1/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=18167a6a17aade81e0101207dacf6308edbbe1e979795c0be708d5780ee61ea0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":2,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
  recorded_at: Mon, 31 May 2021 17:36:44 GMT
recorded_with: VCR 6.0.0
