---
http_interactions:
- request:
    method: get
    uri: https://search-crowdbreaks-stg-r7ijs3a6awevjffrehacjkygn4.eu-central-1.es.amazonaws.com/project_inexistent/_search?size=5
    body:
      encoding: UTF-8
      string: '{"query":{"function_score":{"script_score":{"script":{"source":"if
        (_score \u003e params[''_source''][''predictions''][''sentiment''][''endpoints''][''primary_probability''])
        { _score } else { 0 }"}},"query":{"function_score":{"boost_mode":"replace","functions":[{"random_score":{}}],"query":{"bool":{"must":[{"range":{"created_at":{"gte":"2021-07-07T16:38:17.000Z"}}},{"exists":{"field":"predictions"}}],"must_not":[{"exists":{"field":"is_retweet"}},{"exists":{"field":"has_quote"}},{"terms":{"annotations.user_id":[0]}}],"filter":[{"script":{"script":"doc.containsKey(''annotations.user_id'')
        \u0026\u0026 doc[''annotations.user_id''].size() \u003e 0 \u0026\u0026 doc[''annotations.user_id''].size()
        \u003c 2"}}]}}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20210714T163817Z
      X-Amz-Content-Sha256:
      - f66167090df038183927429afffbaf43a6941910ec0f0ef53c9b81bad96b9913
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIA4XNVFOJVGS4AHXED/20210714/eu-central-1/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=4c26b948c8ad5f867d9a41bdddf009db55029e163eced63e1f9b7642c346c240
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"root_cause":[{"type":"index_not_found_exception","reason":"no
        such index [project_inexistent]","resource.type":"index_or_alias","resource.id":"project_inexistent","index_uuid":"_na_","index":"project_inexistent"}],"type":"index_not_found_exception","reason":"no
        such index [project_inexistent]","resource.type":"index_or_alias","resource.id":"project_inexistent","index_uuid":"_na_","index":"project_inexistent"},"status":404}'
  recorded_at: Wed, 14 Jul 2021 16:38:18 GMT
recorded_with: VCR 6.0.0
