<% unless current_page?(project_path('covid')) or request.fullpath.include? 'manage' %>
  <div class='alert-bar'>
    <%= link_to "COVID-19: Follow live trends here #{}", project_path('covid') %>
    <%= fa_icon 'arrow-circle-right', style: 'color:white' %>
  </div>
<% end %>
