<footer class="site-footer d-flex justify-content-between">
  <div>
    <ul class="footer-links">
      <li class="logomark-crowdbreaks"><span>Crowdbreaks</span></li>
      <!-- <li><a href="#"><i class="fa fa&#45;twitter" aria&#45;hidden="true"></i></a></li> -->
      <!-- <li><a href="https://github.com/salathegroup/crowdbreaks"><i class="fa fa&#45;github" aria&#45;hidden="true"></i></a></li> -->
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy</a></li>
    <ul>
  </div>

  <div class="credits">
    <div class="">
      <%= t('footer.developed_by_html',
            href_del: link_to('Digital Epidemiology Lab', 'http://www.digitalepidemiologylab.org', target: '_blank'),
            href_epfl: link_to('EPFL', 'https://www.epfl.ch/index.en.html', target: '_blank'))
          %>
      <img src=<%= image_url('logo-epfl.svg') %> class="logo-epfl" alt="EPFL">
    </div>
  </div>
</footer>
