<footer class="site-footer d-flex justify-content-between">
  <div>
    <ul class="footer-links">
      <li class="logomark-crowdbreaks"><span>Crowdbreaks</span></li>

    <ul>
  </div>

  <div class="credits">
    <span class="no-wrap">
      <%= t('footer.developed_by_html',
            href_del: link_to('Digital Epidemiology Lab', 'http://www.digitalepidemiologylab.org', target: '_blank'),
            href_epfl: link_to('EPFL', 'https://www.epfl.ch/en/home/', target: '_blank')) %>
      <%= link_to 'https://www.epfl.ch/en/home/', 'target': '_blank' do %>
        <img src=<%= image_url('logo-epfl.svg') %> class="logo-epfl pb-1" alt="EPFL">
      <% end %>
    </span>
  </div>
</footer>
