<% @title ||= 'Results'; title @title %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>
      Results
    </h2>
  </div>
</div>


<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= paginate @results %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Project</th>
          <th>User</th>
          <th>Tweet Id</th>
          <th>Type</th>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @results %>
      </tbody>
    </table>
  </div>
</div>
