<% @title ||= 'Question Sequences'; title @title %>
<div class="row mb-4">
  <div class="col-12">
    <%= link_to dashboard_path, class: 'btn btn-secondary btn-lg' do %>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <h2 class='mb-4'>Question Sequences</h2>
  </div>
</div>


<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <%= link_to 'New Question Sequence', new_admin_question_sequence_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
