<% @title ||= 'Local batch processing'; title @title %>
<%= go_back_btn manage_local_batch_jobs_path %>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <h2>Create new batch job</h2>
    <%= render 'local_batch_job_form' %>
  </div>
</div>
