---
http_interactions:
- request:
    method: post
    uri: https://search-crowdbreaks-stg-r7ijs3a6awevjffrehacjkygn4.eu-central-1.es.amazonaws.com/project_vaccine_2021-05-01_08-01-21/_doc/1394723048364859394/_update?refresh=true
    body:
      encoding: UTF-8
      string: '{"script":{"source":"if (ctx._source.annotations == null) ctx._source.annotations
        = new ArrayList();ctx._source.annotations.add(params.annotation)","lang":"painless","params":{"annotation":{"user_id":12345}}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20210531T173644Z
      X-Amz-Content-Sha256:
      - 582c81a3b14601fffb65f55aca027bd8b3291d4b5394cbd14d78d32588ce434b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIA4XNVFOJVGS4AHXED/20210531/eu-central-1/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=528729758f5fe0f723a3d49826a05b852026d72a57c9e10d861e39e8a1205a52
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_index":"project_vaccine_2021-05-01_08-01-21","_type":"_doc","_id":"1394723048364859394","_version":3,"result":"updated","forced_refresh":true,"_shards":{"total":2,"successful":2,"failed":0},"_seq_no":33941,"_primary_term":22}'
  recorded_at: Mon, 31 May 2021 17:36:44 GMT
recorded_with: VCR 6.0.0
