---
http_interactions:
- request:
    method: post
    uri: https://d4e60a0d5891432e9a4ff86bc4a3a73a.eu-central-1.aws.cloud.es.io/project_vaccine_sentiment_2022-04-02_20-35-22/_doc/1540297383401213954/_update?refresh=true
    body:
      encoding: UTF-8
      string: '{"script":{"source":"if (ctx._source.annotations == null) ctx._source.annotations
        = new ArrayList();ctx._source.annotations.add(params.annotation)","lang":"painless","params":{"annotation":{"user_id":12345}}}}'
    headers:
      Authorization:
      - ApiKey bzc1Ql8zOEJtS3RLdGZsZmpNZGw6YjFuTjJLUzFReUtnY001cFhiUTB6Zw==
      X-Elastic-Client-Meta:
      - es=7.17.1,rb=2.5.8,t=7.17.1,fd=1.10.0,nh=1.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Warning:
      - 299 Elasticsearch-7.17.2-de7261de50d90919ae53b0eff9413fd7e5307301 "[types
        removal] Specifying types in document update requests is deprecated, use the
        endpoint /{index}/_update/{id} instead."
      X-Cloud-Request-Id:
      - qTHJSN5YSrm0FUMBG6G7gQ
      X-Elastic-Product:
      - Elasticsearch
      X-Found-Handling-Cluster:
      - d4e60a0d5891432e9a4ff86bc4a3a73a
      X-Found-Handling-Instance:
      - instance-0000000000
    body:
      encoding: ASCII-8BIT
      string: '{"_index":"project_vaccine_sentiment_2022-04-02_20-35-22","_type":"_doc","_id":"1540297383401213954","_version":5,"result":"updated","forced_refresh":true,"_shards":{"total":2,"successful":2,"failed":0},"_seq_no":8953964,"_primary_term":2}'
  recorded_at: Fri, 24 Jun 2022 13:56:43 GMT
recorded_with: VCR 6.0.0
