<tr>
  <td><%= index[:name] %></td>
  <td><%= number_with_delimiter(index[:num_docs], delimiter: ' ') %></td>
  <td><%= number_with_precision(index[:size_bytes]/(1024.0 * 1024.0), :precision => 2, delimiter: " ") %></td>
</tr>
