<% @title ||= 'Manage elasticsearch indexes'; title @title %>
<%= go_back_btn dashboard_path, mb: 'mb-4' %>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <span class="mb=4">Cluster health status:</span>
    <span class="badge badge-sentiment"><%= label_es_health(@health_status) %></span><br/>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <h2 class='mb-4'>Current Elasticsearch index groups</h2>
    <p>The indices are being rotated, therefore there are many indices for each project, each of which includes a timestamp.
    Here, the indices are grouped by their prefix.</p>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <table class="table">
      <thead>
        <tr>
          <th>Group name</th>
          <th>Number of indices</th>
          <th>Total number of documents</th>
          <th>Total size (MB)</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "elasticsearch_indexes", collection: @groups, as: 'group' %>
      </tbody>
    </table>
  </div>
</div>
