<%= go_back_btn mturk_worker_qualification_lists_path %>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <h2 class='mb-4'>New qualification list</h2>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <%= render 'mturk_worker_qualification_list_form' %>
  </div>
</div>
