<% @title ||= 'Queued Tweets'; title @title %>
<%= go_back_btn mturk_batch_jobs_path %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>
      In queue for '<%= @mturk_batch_job.name %>'
    </h2>
  </div>
</div>


<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= paginate @mturk_tweets %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tweet Id</th>
          <th>Tweet text</th>
          <th>Num workers</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        <%= render @mturk_tweets %>
      </tbody>
    </table>
  </div>
</div>
