<% @title ||= 'Edit Project'; title @title %>
<div class="row mb-4">
  <div class="col-12">
    <%= link_to admin_projects_path, class: 'btn btn-secondary btn-lg' do %>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <h2 class='mb-4'>Edit project <%= @project.title %></h2>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <%= render 'project_form' %>
  </div>
</div>
