<% @title ||= 'Edit Project'; title @title %>
<div class="content-no-banner">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to streaming_path, class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-chevron-left"></i>
        Go back
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h3>Edit project "<%= @project.title %>"</h3>
      <%= render 'project_form' %>
    </div>
  </div>
</div>
