<% @title ||= 'New Project'; title @title %>

<%= go_back_btn admin_projects_path, mb: 'mb-4' %>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <h2 class='mb-4'>Create a new project</h2>
  </div>
</div>


<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <%= render 'project_form' %>
  </div>
</div>
