<div class="row">
  <div class="col-md-8 projects">
    <div class="row row-project">
      <div class="col-md-2 equal-height image-col">
        <div class="full-height">
          <div class="project-image"></div>
        </div>
      </div>
      <div class="col-md-10 equal-height description-col">
        <div class="project-description">
          <h3>
            <%= project.title.html_safe if project.title %>
          </h3>
          <p>
          <%= project.description.html_safe if project.description %>
          </p>
          <% unless project.initial_question.nil? %>
              <%= link_to project_path(project), class: 'btn-start-project', id: "btn-start-project-#{project.id}"  do %>
              <%= t('projects.index.start_button') %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
