<% @title ||= Project.model_name.human.pluralize; title @title %>
<div class="content-no-banner">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Test the classifier</h3>
      <%= react_component 'SentimentTextBox',
        { 'flaskPostEndpoint': vaccine_sentiment_path}
      %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Visualization</h3>
      <%= react_component 'SentimentVisualization',
        {
        'interval': @interval,
        'updateVisualizationPath': update_visualization_path
        }
      %>
    </div>
  </div>
</div>

