# PostgreSQL. Versions 9.1 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On OS X with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
#   brew install postgres
#   brew tap homebrew/services
#   brew services start postgresql
#   brew services restart postgresql (usually needed for new project)
#   rails new <appname> --database=postgresql
#   rake db:setup

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  host: db
  username: postgres
  database: crowdbreaks_development

test:
  <<: *default
  host: db
  username: postgres
  database: crowdbreaks_test

production:
  <<: *default
  database: crowdbreaks_production
  username: crowdbreaks
  password: <%= ENV['CROWDBREAKS_DATABASE_PASSWORD'] %>
