---
http_interactions:
- request:
    method: post
    uri: https://d4e60a0d5891432e9a4ff86bc4a3a73a.eu-central-1.aws.cloud.es.io/project_vaccine_sentiment_2022-04-02_20-35-22/_search
    body:
      encoding: UTF-8
      string: '{"aggs":{"prediction_agg":{"date_histogram":{"field":"created_at","fixed_interval":"1h","format":"yyyy-MM-dd
        HH:mm:ss"}}},"query":{"bool":{"filter":[{"range":{"created_at":{"gte":"now-1d","lte":"now"}}},{"exists":{"field":"predictions.sentiment.endpoints.fasttext_v2"}},{"term":{"predictions.sentiment.endpoints.fasttext_v2.label":"negative"}}],"must_not":[{"exists":{"field":"is_retweet"}}]}}}'
    headers:
      Authorization:
      - ApiKey bzc1Ql8zOEJtS3RLdGZsZmpNZGw6YjFuTjJLUzFReUtnY001cFhiUTB6Zw==
      X-Elastic-Client-Meta:
      - es=7.17.1,rb=2.5.8,t=7.17.1,fd=1.10.0,nh=1.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Request-Id:
      - 1U5Lq9sOS6qlwxCAObFE2Q
      X-Elastic-Product:
      - Elasticsearch
      X-Found-Handling-Cluster:
      - d4e60a0d5891432e9a4ff86bc4a3a73a
      X-Found-Handling-Instance:
      - instance-0000000001
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]},"aggregations":{"prediction_agg":{"buckets":[]}}}'
  recorded_at: Fri, 24 Jun 2022 13:56:43 GMT
[...]
