---
http_interactions:
- request:
    method: get
    uri: https://search-crowdbreaks-stg-r7ijs3a6awevjffrehacjkygn4.eu-central-1.es.amazonaws.com/project_vaccine_*/_search
    body:
      encoding: UTF-8
      string: '{"aggs":{"prediction_agg":{"date_histogram":{"field":"created_at","fixed_interval":"1h","format":"yyyy-MM-dd
        HH:mm:ss"}}},"query":{"bool":{"filter":[{"range":{"created_at":{"gte":"now-1d","lte":"now"}}},{"exists":{"field":"predictions.sentiment.endpoints.fasttext_v2"}},{"term":{"predictions.sentiment.endpoints.fasttext_v2.label":"negative"}}],"must_not":[{"exists":{"field":"is_retweet"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20210714T164508Z
      X-Amz-Content-Sha256:
      - ed7df6086c70e6e4850d2bee492ee1cb79b7730ac7a8dcf9aef02c4d74c6be0f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIA4XNVFOJVGS4AHXED/20210714/eu-central-1/es/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=95b42b6a3cc5e8e904ee6a7eb1ceb75a7287476538b09880c3e8ab8701740651
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":743,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":{"value":6985,"relation":"eq"},"max_score":0.0,"hits":[{"_index":"project_vaccine_sentiment_2021-07-01_08-03-48","_type":"_doc","_id":"1415070661861642243","_score":0.0,"_source":{"created_at":
        "2021-07-13T22:08:31.000Z", "text": "brilliantmacron made a big mistakeforcing
        medical staff to be vaxxedCome on medical staffCome out on strike Put an end
        to this childish madness = communism", "user": {"id": "154909077", "name":
        "The Ogster (@Nuremberg2 is coming)", "screen_name": "Ognir2", "location":
        "Ireland / Switzerland", "description": "Sheep herding since 2004Fractional
        Reserve BankingFrench/English - Skype Ognir3I reserve all rights to my tweets
        and retweets"}, "geo_info": {"location_type": "country", "country_code": "CH",
        "geo_type": "user.location", "coordinates": {"lat": 47.00016, "lon": 8.01427}},
        "lang": "en", "project": "vaccine_sentiment", "matching_keywords": ["vaxxed"],
        "predictions": {"sentiment": {"endpoints": {"primary_probability": 0.47654014825820923,
        "primary_label": "negative", "primary_label_val": -1, "fasttext_v2": {"probability":
        0.47654014825820923, "label": "negative", "label_val": -1}}}}}},{"_index":"project_vaccine_sentiment_2021-07-01_08-03-48","_type":"_doc","_id":"1415070668396195841","_score":0.0,"_source":{"created_at":
        "2021-07-13T22:08:32.000Z", "text": "@PizzaPie1018 @laurieanne_p @YvonneF50177592
        @DavidBa69494891 @EricTopol That''s where there could be trouble if there''s
        a mutation that the vaccine doesn''t protect against.", "in_reply_to_user_id":
        "1386511248666234882", "user": {"id": "1386511248666234882", "name": "Aman
        Singh", "screen_name": "AmanSin81089745", "location": "California ", "description":
        "Data scientist and part time MS in Signal Processing/Machine Learning #ripkentaromiuraAlso
        interested in economics. And cats!"}, "geo_info": {"location_type": "admin1",
        "country_code": "US", "geo_type": "user.location", "coordinates": {"lat":
        37.25022, "lon": -119.75126000000002}}, "lang": [...]
[...]
