.logo {
  padding-left: 0px;
  padding-bottom: 10px;
  max-width: 200px;
}
.epfl-logo {
  max-width: 150px;
}
.footer-links {
  list-style-type:none;
  padding-left: 0px;
  li {
    margin-top: 10px;
    margin-bottom: 10px;
    a {
      color: $text-color;
    }
  }
}

// make all columns same height
.footer-same-height {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.footer {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
}
.footer-hr {
  color: $gray-light; /* old IE */
  background-color: $gray-light; /* Modern Browsers */
  border: none;
  height: 1px;
  max-width: 20%;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

// desktop
@media (min-width: $screen-desktop) {
  .epfl-logo {
    display: block;
    margin: 0 auto;
  }
  .border-right {
    border-right: 1px solid $gray-light;
  }
  .footer-hr {
    display: none;
  }
}

