<% if @preview_mode %>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>You are in preview mode. Please accept the HIT to submit your answers.</h3>
    </div>
  </div>
<% end %>
<%= react_component('MturkQSContainer',
  {
    questions: @questions,
    initialQuestionId: @initial_question_id,
    transitions: @transitions,
    tweetId: @tweet_id,
    projectsPath: projects_path,
    resultsPath: mturk_question_sequence_url,
    translations: @translations,
    userId: @user_id,
    projectId: @project.id,
    assignmentId: @assignment_id,
    previewMode: @preview_mode,
    sandbox: @sandbox,
    finalSubmitPath: final_mturk_question_sequence_url,
    hitId: @hit_id
  },
  class: 'row', 
  id: 'mturk-question-sequence-component')
%>
