<div class="row justify-content-center mb-4">
  <div id="qs-root" class="col-12 text-center">
    <% if @preview_mode %>
      <div class="row">
        <div class="col-12 text-center">
          <h3>You are in preview mode. Please accept the HIT to submit your answers.</h3>
        </div>
      </div>
    <% end %>

    <%= react_component('MturkQSContainer', {
      mturkTitle: @project.title,
      questions: @question_sequence[:questions],
      initialQuestionId: @question_sequence[:initial_question_id],
      transitions: @question_sequence[:transitions],
      tweetId: @tweet_id,
      tweetText: @tweet_text,
      resultsPath: mturk_question_sequence_url,
      finalSubmitPath: final_mturk_question_sequence_url,
      projectId: @project.id,
      answersDelay: 2000,
      testMode: false,
      previewMode: @preview_mode,
      sandbox: @sandbox,
      allowReset: true,
      instructions: @mturk_instructions,
      helpEmail: ENV['MTURK_CONTACT_EMAIL'],
      hitId: @hit_id,
      assignmentId: @assignment_id,
      workerId: @worker_id,
      notification: @notification,
      translations: t('question_sequences', locale: @project.locales&.first || :en), # force locale value to be that of project
    },
    class: 'row', 
    id: 'mturk-question-sequence-component')
  %>
  </div>
</div>
