// Classification of tweets on homepage

.classification {
  background-color: $gray-100;
  box-shadow: inset 0px 0px 1px 0px rgba(101,119,134,1);
  border-radius: 5px;
  margin-bottom: 1.75rem;
  display: inline-block;
  max-width: 500px;
  width: 100%;


  &:last-of-type {
    margin-bottom: 0;
  }

  .classification-info {
    line-height: 1.5rem;
    padding: .875rem 2rem;

    p {
      margin: 0 !important;
    }

    a {
      color: $gray-600;
      transition: .5s;

      &:hover {
        color: $gray-500 !important;
      }
    }
  }
}

// Tweets on question sequence
.question-sequence-tweet {
  // flex-direction: column;
  // justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: auto;
  // display: flex;
  iframe {
    display: inline-block !important;
    vertical-align: top !important;
  }
}

// Mimics Twitter Embedding, used when Tweet text is provided
.question-sequence-fake-tweet {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ced7de;
  border-radius: 5px;
  padding: 1.5rem;
  font-size: 1.2rem;
  word-wrap: break-word;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}
