#stream-graph-container {
  padding-top: 50px;
  @include media-breakpoint-up(xl) {
    padding-top: 0px;
  }
}
.legend{
  fill: $gray-600;
  font-size: 13px;
  font-family: $font-family-sans-serif;
}

.stream-graph-axis {
  mix-blend-mode: difference;
  text {
    fill: gray;
    font-size: 13px;
    font-family: $font-family-sans-serif;
  }
}

.stream-graph-btn-group {
  position: absolute;
  float: right;
  right: 20px;
  top: 50px;
  width: 100%;
}

.stream-graph-keywords-btn-group {
  position: absolute;
  float: right;
  right: 20px;
  top: 150px;
  width: 100%;
  @include media-breakpoint-up(xl) {
    top: 140px;
  }
}

.stream-graph-viz-options-container {
  display: inline-block;
  position: absolute;
  right: 0px;
}

.stream-graph-time-options-container {
  display: inline-block;
  position: absolute;
  left: 40px;
  @include media-breakpoint-up(xl) {
    margin-right: -400px;
    position: relative;
    display: inline-block;
  }
}

.stream-graph-keywords-time-options-container {
  display: inline-block;
  position: absolute;
  left: 40px;
  @include media-breakpoint-up(xl) {
    right: 0px;
    top: 15px;
    left: initial;
  }
}

.stream-graph-viz-option-btn {
  border: 1px solid $gray-300;
  img {
    width: 15px;
  }
  &:hover {
    border-color: $gray-400 !important;
    color: $gray-600 !important;
  }
}

.stream-graph-viz-option-btn-active {
  background-color: $gray-100;
  img {
    filter: opacity(100%);
  }
}

.stream-graph-time-option-btn {
  border: 1px solid $gray-300;
  color: $gray-500;
  &:hover {
    border-color: $gray-400 !important;
    color: $gray-600 !important;
  }
}

.stream-graph-time-option-btn-active {
  background-color: $gray-100;
  color: $gray-600;
}

.loading-notification-container {
  height: 300px;
  position: relative;
  .loading-notification {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 45%;
  }
}


.stream-graph-tooltip {
  position: absolute;
  border-radius: 3px;
  font-size: 13px;
  text-align: left;
  width: 220px;
  height: 220px;
  padding: 10px;
  margin-top: -20px;
  margin-left: -212px;
  background: black;
  pointer-events: none;
  color: white;
}

.stream-graph-tooltip::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 100%;
  margin-top: -30px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.stream-graph-keywords-tooltip {
  @extend .stream-graph-tooltip;
  margin-top: 170px;
}
.stream-graph-keywords-tooltip:after {
  margin-top: -45px;
  top: 70px;
}

.sg-tooltip-title {
  fill: white;
}
.sg-tooltip-info {
  text {
    fill: $gray-400;
  }
}

.sg-search-query {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  @include media-breakpoint-up(xl) {
    top: 30px;
  }
}
.sg-search-query-form-group {
  flex-grow: 1;
  width: 100%;
}
.sg-search-query-btn {
  margin-left: 10px;
}


// trending tweets
.trending-tweets-container {
  display: inline-block;
  max-width: 500px;
  width: 100%;
}

.trending-tweet {
  margin-bottom: 30px;
}

// trending topics
.trending-topics-container {
  text-align: left;
  position: absolute;
  top: 110px;
  font-size: 14px;
}

.trending-topics {
  margin-left: 10px;
  a {
    margin-right: 10px;
  }
}
