.fa {
  color: $gray-400;
  transition: .25s;
  &:hover {
    color: $gray-500;
  }
}

.fa-blue {
  color: $blue;
}

.fa-white {
  color: white;
  margin-right: 10px;
}

.icon-spacing {
  a {
    margin: 2px;
  }
}
