// waiting spinner
.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid $blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-small {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid $blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

// Text next to spinner
.spinner-with-text {
  display: inline-block;
  margin-right: 16px !important;
}
.spinner-text {
  display: inline-block;
  margin: auto;
  position: absolute;
  margin-top: 4px;
}
