.vertical-align {
  h4 {
    margin: 0px;
    padding: 0px;
  }
  td, th {
    vertical-align: middle;
  }
}

.borderless-table {
  tr {
    td {
      border: none;
      padding: 3px;
    }
  }
  margin: 0px;
}
