// Colors
@each $color, $value in $theme-colors {
  .toast-#{$color} {
    color: $color;
  }
}

// FontAwesom icons
#toast-container > .toast {
  background-image: none !important;
  padding-bottom: 10px;
  .toast-message {
    padding-left: 15px;
  }
}
#toast-container > .toast:before {
  position: relative;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 18px;
  float: left;
  margin-left: -1em;
  color: #FFF;
  margin-top: 3px;
}        
#toast-container > .toast-error:before {
    content: "\f06a";
}
#toast-container > .toast-info:before {
    content: "\f05a";
}
#toast-container > .toast-success:before {
    content: "\f058";
}

// Placement
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.toast-top-right {
  top: 120px;
  right: 20px;
}
