// This file defines shared styles across the page
// ** These could be incorportated into _global_vars.scss at some point **

body {
  padding-top: $navbar-height;
}
.jumbotron {
  p {
    font-size: $font-size-base;
  }
}


// alerts
.alert {
  border-radius: 0px;
  margin: 0px;
}
