// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: $navbar-height;
}

#background-image {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - #{$navbar-height});
}

.row-welcome {
  text-align: center;
  height: 30vh;
  line-height: 30vh;
  display: flex;
  align-items: center;
}

.row-goal {
  text-align: center;
  height: 20vh;
  display: flex;
  align-items: center;
}

.row-button {
  text-align: center;
}
.welcome-logo-img {
  display:block;
  margin:auto;
  max-width: 70%;
  text-align: center;
}

// tablet
@media (min-width: $screen-tablet) {
  .welcome-logo-img {
    max-width: 50%;
  }
}

// desktop
@media (min-width: $screen-desktop) {
  .welcome-logo-img {
    max-width: 30%;
  }
}
