// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#background-projects {
  min-height: calc(100vh - #{$navbar-height});
}

// index page
.row-project {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.description-col {
  background-color: $light-blue;
}

.project-description {
  h3 {
    font-weight: 700;
  }
}

// background image
.equal-height {
  display: flex;
}
.image-col {
  padding-left: 0px;
  padding-right: 0px;
  display: none; // hide entire column on mobile (unset on desktop)
}
.full-height {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.project-image {
  visibility: hidden;  // set to hidden for mobile
  background: url('https://dummyimage.com/300.png/09f/fff') 50% 50% no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 150px;  // this cannot be a percentage unfortunately
}

// buttons
.btn-start-project {
  @extend .btn, .btn-success;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}


// tablet
@media (min-width: $screen-sm) {
}

// desktop
@media (min-width: $screen-md) {
  .projects {
    max-width: 850px;
  }
  .description-col {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  // background image
  .image-col {
    display: flex;  // reveal column
  }
  .project-image {
    visibility: visible;
  }
}

