// This contains the styling for the QSContainer.js React component

// Main component
#question-answer-container {
  min-height: calc(100vh - #{$navbar-height} - 140px);
  text-align: center;
}

.answers {
  button {
    margin: 10px;
    min-width: 100px;
  }
  button:hover {
    filter: brightness(85%);
  }
}

.question {
  font-size: $font-size-h3;
  font-weight: bold;
  max-width: 500px;
  // text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

// Question transitions
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1.0;
  transition: opacity 700ms ease-in;
}
.fade-leave {
  // hide div
  height: 0px;
  width: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  visibility:hidden;

  opacity: 0;
}

// Tweet embedding
.twitter-tweet {
  margin: auto;
}

// ClipLoader component
.clip-loader {
  padding-top: 100px;
}

// final
.final {
  text-align: center;
  margin-top: 50px;
}
.btn-final {
  @extend .btn, .btn-success;
  float: center;
  margin: 50px 50px 0px 50px;
}
