// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// new action
.result-new {
  text-align: center;
}
#tweet-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.twitter-tweet {
  margin: auto;
}
#question {
  margin-top: 30px;
  margin-bottom: 30px;
}
#answers {
  button:hover {
    filter: brightness(85%);
  }
  button {
    min-width: 100px;
  }
}

#question-answer-container {
  min-height: calc(100vh - #{$navbar-height} - 160px);
  // min-height: calc(100vh - 150 px);
}

// mturk instructions
.mturk {
  background: $brand-warning;
  ol { 
    padding-left: 0;
    list-style-position: inside;
  }
}

// final action
.final {
  text-align: center;
  p {
    margin-top: 50px;
  }
}
.btn-final {
  @extend .btn, .btn-success;
  float: center;
  margin: 50px 50px 0px 50px;
}
