<div class="col-12 mt-2">
  <% if ['s3-es', 's3-es-no-retweets'].include?(project.storage_mode) %>
    <%= react_component 'MonitorStream', {
      'project_name': project.title,
      'es_index_name': project.es_index_name,
      'data_endpoint': stream_data_path,
      'past_minutes': 5,
      'auto_update': true} %>
  <% else %>
    <div class="mt-2">
      <h3 style="text-align:center;font-size:24px;"><%= project.title %></h3>
      <div class="alert alert-primary">
        Stream monitoring is only available for streams which store to Elasticsearch
      </div>
    </div>
  <% end %>
</div>
