<% @title ||= 'Manage'; title @title %>

<div class="row content-no-banner">
  <div class="col-xs-12">

    <hr />
    <h3>Batch processing</h3>
    <div class="btn-toolbar">
      <%= link_to manage_mturk_batch_jobs_path, class: 'btn btn-primary' do %>
        Go to batch processing
        <i class="glyphicon glyphicon-chevron-right"></i>
      <% end %>
    </div>
    <hr />
  </div>
</div>
