<% @title ||= 'Monitor streams'; title @title %>
<%= go_back_btn dashboard_path, mb: 'mb-6' %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>Recent stream activity</h2>
  </div>
</div>

<div class="row">
  <% if @stream_status == 'running' %>
    <%= render partial: "monitor_stream", collection: @current_streams, as: 'project' %>
  <% else %>
    <div class="col-12">
      <div class="alert alert-primary">There are no streams running currently.</div>
    </div>
  <% end %>
</div>
