<% @title ||= 'Monitor streams'; title @title %>
<div class="row mb-6">
  <div class="col-12">
    <%= link_to dashboard_path, class: 'btn btn-secondary btn-lg' do %>
      <i class="glyphicon glyphicon-chevron-left"></i>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>Recent stream activity</h2>
  </div>
</div>

<%= render partial: "monitor_stream", collection: @current_streams, as: 'project' %>
