<% @title ||= 'Sentiment analysis'; title @title %>
<%= go_back_btn dashboard_path, mb: 'mb-4' %>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8 col-lg-6">
    <%= link_to 'Playground', sentiment_analysis_playground_path, class: 'btn btn-secondary btn-block' %>
    <%= link_to 'Chart', sentiment_analysis_chart_path, class: 'btn btn-secondary btn-block' %>
    <%= link_to 'Map', sentiment_analysis_map_path, class: 'btn btn-secondary btn-block' %>
  </div>
</div>
