<%= go_back_btn dashboard_path, mb: 'mb-4' %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>Sentiment map</h2>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= react_component 'SentimentMap',
      {
      'start_date': 'now-2y',
      'end_date': 'now',
      'updateVisualizationPath': update_sentiment_map_path,
      'es_index_name': @project.es_index_name,
    }
    %>
  </div>
</div>
