<% @title ||= 'Sentiment analysis'; title @title %>

<div class="row mb-4">
  <div class="col-12">
    <%= link_to dashboard_path, class: 'btn btn-secondary btn-lg' do %>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8 col-lg-6">
    <%= link_to 'Playground', sentiment_analysis_playground_path, class: 'btn btn-secondary btn-block' %>
    <%= link_to 'Chart', sentiment_analysis_chart_path, class: 'btn btn-secondary btn-block' %>
    <%= link_to 'Map', sentiment_analysis_map_path, class: 'btn btn-secondary btn-block' %>
  </div>
</div>
