<% @title ||= @project.title; title @title %>
<%= go_back_btn current_user.admin? ? manage_local_batch_jobs_path : root_path, mb: 'mb-4' %>

<div class="row justify-content-center">
  <div id="qs-root" class="col-12 text-center">
      <%= react_component('LocalBatchQSContainer', {
        projectTitle: @project.title,
        questions: @question_sequence[:questions],
        initialQuestionId: @question_sequence[:initial_question_id],
        transitions: @question_sequence[:transitions],
        numTransitions: @question_sequence[:num_transitions],
        tweetId: @tweet_id.to_s,
        tweetText: @tweet_text,
        userId: @user_id,
        userName: current_user.username,
        resultsPath: nil,
        endQuestionSequencePath: local_batch_job_final_url(@local_batch_job),
        projectId: @project.id,
        delayStart: @local_batch_job.delay_start,
        delayNextQuestion: @local_batch_job.delay_next_question,
        testMode: @test_mode,
        instructions: @instructions,
        noWorkAvailable: @no_work_available,
        exitPath: get_exit_path,
        userCount: @user_count,
        totalCount: @total_count,
        totalCountUnavailable: @total_count_unavailable,
        tweetIsAvailable: @tweet_is_available,
        tweetDisplayMode: @local_batch_job.tweet_display_mode,
        annotationDisplayMode: @local_batch_job.annotation_display_mode,
        translations: t('question_sequences'),
      }) %>
  </div>
</div>
