<% @title ||= Manage::MturkBatchJob.model_name.human; title @title %>

<h1>Editing Manage Mturk Batch Job</h1>

<%= render 'form', manage_mturk_batch_job: @manage_mturk_batch_job %>

<%= link_to 'Show', @manage_mturk_batch_job %> |
<%= link_to 'Back', manage_mturk_batch_jobs_path %>
