<% @title ||= MturkBatchJob.model_name.human; title @title %>
<%= go_back_btn mturk_batch_jobs_path %>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <h2>Edit Mturk batch job "<%= @mturk_batch_job.name %>"</h2>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <%= render 'mturk_batch_job_form' %>
  </div>
</div>
