<% @title ||= Manage::MturkBatchJob.model_name.human; title @title %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_manage_mturk_batch_job_path(@manage_mturk_batch_job) %> |
<%= link_to 'Back', manage_mturk_batch_jobs_path %>
