<% @title ||= MturkBatchJob.model_name.human; title @title %>
<% if params[:come_from].present? %>
  <%= go_back_btn mturk_cached_hits_path %>
<% else %>
  <%= go_back_btn mturk_batch_jobs_path %>
<% end %>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <h2>Mturk Batch Job details</h2>
  </div>
</div>

<%= attributes_table(@mturk_batch_job) %>
